
@{
    ViewBag.Title = "Index";
}

<h2>Index
    
    123
    123
    45645613.21
    12
    31
    3</h2>

<input type="text" name="name" />
<input type="text" name="firstname" />


    <input type="password" name="name" value="" />
    <p>1233123123</p>
    <div>99999</div>
<textarea></textarea>

    <input type="checkbox" name="name" value="" />

    <input type="radio" name="name" value="" />

    <a href="#">content</a>
    <img src="#" alt="Alternate Text" />

